<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="edu.kh.project.message.model.mapper.MessageMapper">

	<insert id="insertMessage" parameterType="Message">
		INSERT INTO MESSAGE (
		MESSAGE_NO,
		SENDER_NO,
		RECEIVER_NO,
		CONTENT
		) VALUES (
		SEQ_MESSAGE_NO.NEXTVAL,
		#{senderNo},
		#{receiverNo},
		#{content}
		)
	</insert>

	<select id="selectInboxMessages" resultType="Message">
    SELECT M.MESSAGE_NO,
           M.SENDER_NO,
           S.MEMBER_NICKNAME AS senderNickname,
           M.RECEIVER_NO,
           M.CONTENT,
           TO_CHAR(M.SEND_DATE, 'YYYY-MM-DD HH24:MI:SS') AS SEND_DATE,
           M.READ_FL
    FROM MESSAGE M
    JOIN MEMBER S ON M.SENDER_NO = S.MEMBER_NO
    WHERE M.RECEIVER_NO = #{memberNo}
    ORDER BY M.SEND_DATE DESC
</select>

<select id="selectMessageDetail" resultType="Message">
    SELECT M.MESSAGE_NO,
           M.SENDER_NO,
           S.MEMBER_NICKNAME AS senderNickname,
           M.RECEIVER_NO,
           R.MEMBER_NICKNAME AS receiverNickname,
           M.CONTENT,
           TO_CHAR(M.SEND_DATE, 'YYYY-MM-DD HH24:MI:SS') AS sendDate,
           M.READ_FL
    FROM MESSAGE M
    JOIN MEMBER S ON M.SENDER_NO = S.MEMBER_NO
    JOIN MEMBER R ON M.RECEIVER_NO = R.MEMBER_NO
    WHERE M.MESSAGE_NO = #{messageNo}
      AND (M.SENDER_NO = #{memberNo} OR M.RECEIVER_NO = #{memberNo})
</select>


	<update id="updateReadFlag">
		UPDATE MESSAGE
		SET READ_FL = 'Y'
		WHERE MESSAGE_NO =
		#{messageNo}
		AND RECEIVER_NO = #{memberNo}
		AND READ_FL = 'N'
	</update>


<select id="selectSentMessages" resultType="Message">
    SELECT 
        M.MESSAGE_NO,
        M.SENDER_NO,
        S.MEMBER_NICKNAME AS senderNickname,  
        M.RECEIVER_NO,
        R.MEMBER_NICKNAME AS receiverNickname,
        M.CONTENT,
        TO_CHAR(M.SEND_DATE, 'YYYY-MM-DD HH24:MI:SS') AS SEND_DATE,
        M.READ_FL
    FROM MESSAGE M
    JOIN MEMBER S ON M.SENDER_NO = S.MEMBER_NO  
    JOIN MEMBER R ON M.RECEIVER_NO = R.MEMBER_NO
    WHERE M.SENDER_NO = #{memberNo}
    ORDER BY M.SEND_DATE DESC
</select>

</mapper>


