<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 찾는 페이지</title>
  <th:block th:replace="~{common/common}"></th:block>

  <style>
    .hidden {
      display: none !important;
    }

    #finded {
      border: 1px solid #ccc;
      padding: 20px;
      margin-top: 20px;
      position: relative;
    }

    .closeFindIDPW {
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      color: #aaa;
      position: absolute;
      top: 5px;
      right: 10px;
    }

    .closeFindIDPW:hover {
      color: #777;
    }
  </style>
</head>
<body>

  <main>
    <th:block th:replace="~{common/header}"></th:block>

    <section class="content">

      <!-- <div id="hidden" class="hidden"> -->
        <br><br><br><br>

        <p>비밀번호를 찾고싶으신가요?</p>
        <form id="findPwForm" method="POST" action="/member/selectPW">
          <label>
            닉네임:
            <input name="memberNickname" required>
          </label>
          <br>
          <label>
            이메일:
            <input name="memberEmail" required>
          </label>
          <br>
          <label>
            전화번호:
            <input name="memberTel" required>
          </label>
          <br><br>
          <button type="submit" style="color: rgb(247, 0, 255);">비밀번호 찾기</button>
        </form>
        <div id="findPwMessage" style="color: red; margin-top: 10px;"></div>
      <!-- </div> -->

    
    </section>

    <th:block th:replace="~{common/footer}"></th:block>
  </main>

  <script src="/js/main.js"></script>
  <script src="/js/member/findPw.js"></script>
</body>
</html>
