<header>
    <section>
      <!-- 클릭 시 메인 페이지로 이동하는 로고 -->
      <a href="/">
        <img src="/images/logo.jpg" alt="메인 로고" id="homeLogo">
      </a>
    </section>
  
    <!-- 검색어 입력할 수 있는 요소 배치 영역 -->
    <section>
      <article class="search-area">
        <form action="#" method="GET">
          <fieldset>
  
            <!-- autocomplete="off" : 자동완성 off -->
            <input type="search" 
                   id="query" 
                   name="query"
                   placeholder="검색어를 입력해 주세요."
                   autocomplete="off"
            >
  
            <!-- 제목 검색 -->
            <input type="hidden" name="key" value="t">
  
            <!-- 검색 버튼 -->
            <button id="searchBtn" class="fa-solid fa-magnifying-glass"></button>
  
          </fieldset>
        </form>
  
        <!-- 검색 결과 -->
        <ul id="searchResult" class="close"></ul>
  
      </article>
    </section>
  
  
    <!-- 안쓰는 섹션 -->
    <section></section>
  
  
  </header>
  
  
  <!-- navigator -->

  <nav>
    <ul>
      <!--
      <li>
        <a href="#"
        >게시판이름</a>
      </li> 
      
      <li class="chatting-li">
        <a href="#">공지게시판</a>
      </li>
      <li class="chatting-li">
        <a href="#">정보게시판</a>
      </li>
      <li class="chatting-li">
        <a href="#">자유게시판</a>
      </li>
      -->
      <th:block th:each="boardType: ${application.boardTypeList}">         <!-- for의 하나로 들어가는건 List--->
        <li>
          <a th:text="${boardType.boardName}" 
          th:href="@{/board/{boardCode}(boardCode=${boardType.boardCode})}"
          >게시판이름</a>
        </li>
      </th:block>
 <!-- 주소를 조합시키는 방법-->
      <li class="chatting-li">
        <a href="#">채팅</a>
      </li>
    </ul>
  </nav>
  <!-- 
  보통은 DB에 게시판 종류 자체를 저장하고 그를 nav내 ul li로 뿌려주는 것이 보통 
   => 게시판 종류 자체가 늘어날 수 있기 때문 
   

    BOARD_TYPE이라는 테이블이 존재하는데 html이 아니라 DB로부터 아예 nav라는 뷰 단까지 불러올 것 
    => 인터셉터를 이용한다


    요청이 올 때마다 해당 nav부분을 보여주기 싫어서 
    intercepter(요청을 가로채다 => 어떤 url패턴으로 들어오는 모든 요청들을 가로채어 소매넣기)

    컨트롤러로 가기 전에 인터셉트 하기 때문에 정적리소스 요청을 관여 불가 
    컨트롤러 호출 전후 뷰 랜더링 전후 => 정적리소스는 1번쪽에서만

    DB로부터 application scope로 DB에서 조회한 내용을 전부 세팅하자

   -->
  
  
  
  
  
  