<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{app.name}"></title>

  <!-- templates/common/common.html 조각으로 추가 -->
  <!-- main.css에 대한 연결 링크 태그와 fontawesome의 스크립트 태그는 여러 페이지에서 계속 들어감 -->


  <th:block th:replace="~{common/common}"></th:block>

  <style> 
  .hidden{
    display: none;
  }


  </style>
</head>

<body>

  <main>

    <!-- common/header.html 을 조각으로 추가 -->
    <th:block th:replace="~{common/header}"></th:block>

    <!-- 메인 페이지 내용  -->
    <section class="content">

      <section class="content-1">
        <!-- 비동기 보충 시 사용 영역 -->
      </section>

      <section class="content-2">
        <!-- 로그인, 회원가입 버튼 -->

        <!-- 로그인이 되어있지 않은 경우 -->

        <!-- 로그인정보 = 세션스코프 객체에 현재 로그인한 사람에 대한 정보를 추가한다 
           만약 session.loginMember==null
          -->

        <th:block th:if="${session.loginMember==null}">

        <br> <br>
          <!-- 로그인 박스 -->
          <form action="/member/login" method="POST" id="loginForm">
            <fieldset class="id-pw-area">
              <!-- 아이디/비밀번호 입력 -->
              
             
              <section>
                <input type="text" name="memberEmail" placeholder="이메일" required>

                <input type="password" name="memberPw" placeholder="비밀번호" required>
              </section>

              <!-- 로그인 버튼 -->
              <section>
                <button class="loginner">로그인</button>
              </section>
            </fieldset>

            <label>
              <!-- label 태그 : input 태그의 제목을 나타내는 태그  -->
              <input type="checkbox" name="saveId"> 
              <!-- value가 없는데 체크박스는 체크가 된 경우 on이라는 값으로 서버에 넘어감, 체크가 안 된 경우에는 null로 넘어온다. -->
              아이디 저장
            </label>

            <article class="signup-find-area">

              <a href="/member/signup">회원가입</a>

              <span> | </span>

              <a href="/member/selectIDPW" id="findIDPw" >ID/PW 찾기</a>

            </article>

          </form>
        </th:block>

        <!-- 로그인이 되어있는 경우 -->
        <th:block th:unless="${session.loginMember == null}">
          <article class="login-area">

            <a href="/myPage/info">
              <!-- 프로필 이미지 -->


              <!--session.loginMember.profileImg에 
              실제로 유저가 등록한 이미지가 있다면, 즉 null이 아니라면 
              session.loginMember.profileImg에 저장된 이미지 경로를 사용하겠다.
              하지만 null이라면
              messages.properties에 있는 기본 이미지 경로를 사용하겠다.
              -->

              <!-- th:with는 변수 선언 -->
              <img th:with="user=#{user.default.image}" th:src="${session.loginMember.profileImg ?: user}" id="memberProfile" alt="프로필 이미지">
            </a>

            <!-- 닉네임, 이메일, 로그아웃 버튼 영역 -->
            <div class="my-info" th:object="${session.loginMember}">
              <div>
                <a href="/mypage/info" id="nickname" th:text = "*{memberNickname}">닉네임</a>
                <a href="/member/logout" id="logoutBtn">로그아웃</a>
              </div>
              <p th:text = "*{memberEmail}">이메일</p>

            </div>
          </article>
        </th:block>


      </section>

      <div class="hidden" id="hidden">
        <br>
        <p>이메일을 찾고싶으신가요?</p>
      
        <!-- 아이디  비번 찾기 form -->
        <form action="/member/selectID" method="get" th:if="${session.loginMember == null}">
          <label>
            닉네임:
            <input name="memberNickname" required>
          </label>
          <br>
      
          <label>
            전화번호:
            <input name="memberTel" required>
          </label>
          <br><br>
      
          <button type="submit" style="color: #f70aff">아이디 찾기</button>
        </form>
      
    
      
        <br><br><br><br>
      
        <!-- 비밀번호 찾기 영역 -->
        <p>비밀번호를 찾고싶으신가요?</p>
        <label>
          닉네임:
          <input name="memberNickname">
        </label>
        <br>
        <label>
          이메일:
          <input name="memberEmail">
        </label>
        <br>
        <label>
          전화번호:
          <input name="memberTel">
        </label>
        <br><br>
        <a href="/member/selectPW" style="color: rgb(247, 0, 255);">비밀번호찾기</a>
      </div>
          <!-- 결과 메시지 -->
          <div th:if="${findEmail != null}" id="finded">
            <p>
              찾으신 이메일은
              <strong th:text="${findEmail}"></strong>
              입니다.
            </p>
            <span id="closeFindIDPW" class="closeFindIDPW">&times;</span>
          </div>
    </section>
  </main>


  <!-- script 추가-->

  <script src="/js/main.js"></script>


  <!-- common/footer 추가-->
  <th:block th:replace="~{common/footer}"></th:block>



</body>

</html>